.main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 20px auto;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.cardContainer {
  border: 1px solid rgb(15, 239, 213);
  border-radius: 10px;
  padding: 16px;
  display: inline-block;
  margin: 16px;
  background-color: #fff;
  transition: transform 0.3s  
}

.cardContainer:hover{
  transform: translateY(-5px);
}



.cardContent  .cardName{
  text-align: center;
  color: rgb(121, 120, 120);
  font-weight: bolder;
  font-size: 12px;
  
}
.cardContent .price{
  border-bottom: 1px solid #797878;
  font-size: larger;
  text-align: center;

}
.cardContent  span{
  font-size: 10px;
}
.des p i{
  text-align: left
 
}
.des p {
 color: rgb(46, 45, 45);
}


.price{
  padding-bottom: 20px;
 font-weight: bolder;
 font-size: xx-large;
}
 .des ul {
  padding-left: 0;
}

.des ul li {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: left;
}

.des ul li i {
  margin-right: 5px;
  font-size: 10px;
  color: rgb(10, 10, 10);
}

.des ul li:not(:last-child) {
  margin-bottom: 5px;
}
.lite ul {
  padding-left: 0;
}

.lite ul li {
  list-style: none;
  display: flex;
  font-size: 14px;
  align-items: center;
  text-align: left;
  color: rgb(121, 120, 120);

}

.lite ul li i {
  margin-right: 5px;
  font-size: 14px;
  padding: 4px;
  color: rgb(121, 120, 120);
}


.button{
  text-align: center;
}
.button button{
 
  background-color: rgb(17, 124, 231);
  font-size: 80%;
  border-radius: 20px;
  font-weight: bold;
  padding: 0.5rem;
  color: #ffffff;
  opacity: 0.7;
  transition: 0.3s;
  width: 15em;
}

.cardContainer:hover .button button{
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .cardContainer {
    width: 100%;
  }
}







